@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
}

section {
    display: flex;
    position: absolute;
}